- content_for :page_title, t("users.profiles.page_title")

%h1
  = t("users.profiles.title")
%div.profiles
  - @users.each do |user|
    %div.profile
      %h2
        = raw link_to_profile(user)
      %div.user_photo
        = raw user_photo(user, {:big => true})
      %div.profile_intro
        %div.about
          %p 
            = truncate(user.about, :length => 200)

= will_paginate @users
