- content_for :page_title, t("recaptcha.title")

%h1
  = t("recaptcha.title")

- if flash[:recaptcha_error]
  .error
    = t flash[:recaptcha_error], :scope => "recaptcha.errors"

= form_for :user, :html => {:id => "recaptcha_form"} do |form|
  %fieldset
    %legend 
      = t("recaptcha.form.title")
    = raw recaptcha_tags(:public_key => Rails.application.config.xi_users.recaptcha.public_key)
    = hidden_field_tag :validated_attributes, @validated_attributes

    = buttons_bar do
      = button_ok
      = button_cancel(users_path)

- content_for :secondary_bar do
  %div.box.signup-help
    %h2 
      = t("recaptcha.form.registration_help.title")
    %div.content
      %p.important
        = t("recaptcha.form.registration_help.content")
