- content_for :page_title, t("users.reset_password.title")

%h1
  = t("users.reset_password.title")

- if @reset_request

  = flash_box :notice, t("users.reset_password.email_sent", :email => @reset_request.user.email)

- else

  = form_for :user do

    %fieldset
      %legend
        = t "users.reset_password.section.title"

      %ul
        %li
          = label_tag "email", User.human_attribute_name("email")
          = text_field_tag "email"

      = buttons_bar do
        = button_ok
        = button_cancel
