- content_for :page_title, t("users.reset_password.title")

%h1
  = t("users.reset_password.title")

= form_for :user do |form|
  = error_messages_for @user

  %fieldset
    %legend
      = t "users.reset_password.section.title"

    %ul
      %li
        = form.label :password
        = form.password_field :password

      %li
        = form.label :password_confirmation
        = form.password_field :password_confirmation

    = buttons_bar do
      = button_ok
      = button_cancel
