- content_for :page_title, t("account_settings.title")

%h1
  = t("account_settings.title")

= form_for :user do |form|
  = error_messages_for @user

  %fieldset
    %legend
      = t "account_settings.sections.main_data"
    %ul
      %li
        = form.label :name
        = form.text_field :name
      %li
        = form.label :surname
        = form.text_field :surname
      %li
        = form.label :about
        = form.text_area :about, :class => "medium"

  %fieldset
    %legend= User.human_attribute_name "birth_date"
    = form.date_select :birth_date, :start_year => 1900, :end_year => Date.today.year

  %fieldset
    %legend
      = t "account_settings.sections.birth_date"
    %ul
      %li
        = form.radio_button :gender, User::Gender::Male
        = form.label :gender, t("users.gender.male"), :value => User::Gender::Male
      %li
        = form.radio_button :gender, User::Gender::Female
        = form.label :gender, t("users.gender.female"), :value => User::Gender::Female

  %fieldset
    %legend
      = t "account_settings.sections.address"
    %ul
      %li
        = form.label :city
        = form.text_field :city
      %li
        = form.label :postcode
        = form.text_field :postcode
      %li
        = form.label :country
        = form.text_field :country

  %fieldset
    %legend
      = t "account_settings.sections.hobbies_and_contacts"
    %ul
      %li
        = form.label :hobbies
        = form.text_field :hobbies
      %li
        = form.label :gtalk
        = form.text_field :gtalk
      %li
        = form.label :skype
        = form.text_field :skype
      %li
        = form.label :website
        = form.text_field :website

  = buttons_bar do
    = button_ok
    = button_cancel(user_profile_path)
