- content_for :title, t("administrators.title")

%h1
  = t("administrators.title")

#new-admin
  = form_tag administrators_path do
    %label{:for => "new_admin_email"}
      = t "administrators.new.label"
    = text_field_tag "new_admin_email"
    %button.ok-button{:type => "submit"}
      = t "administrators.new.create"


%ul#admins
  - @admins.each do |user|
    %li
      = user.name
      = user.surname
      = form_for user, :url => administrator_path(user), :html => { :method => :delete } do
        %button.ok-button{:type => "submit"}
          = t("administrators.remove_user", :email => user.email)
