- content_for :page_title, t("session.login.title")

#main
  %h1
    = t("session.login.title")
  = form_for :user_session, :html => { :id => "login-form" }, :url => user_sessions_path do |form|
    %fieldset
      %legend
        = t("session.login.form.title")
      %ul
        %li
          = form.label :email
          = form.text_field :email
        %li
          = form.label :password
          = form.text_field :password
          
      %div.login-endless
        %label{:for => "login-endless"}
          Recordar en este ordenador
        %input{:type => "checkbox", :id => "login-endless", :value => "1", :name => "endless"}
      %div.forgot-password
        %a{:href => "/test/reset_password"}
          ¿Olvidaste tu contraseña?

      %div.buttons
        %button.ok-button{:type => "submit"}
          Entrar


#secondary-bar.sidebar

  %div.box
    %h2 Ranking
    %div.content 
      %div.resource-ranking
        %ol
          %li 
            = image_tag "rank_4stars.png"
            Museo del Prado
            %div.section
              en 
              %a{:href => "recursos_museos"}
                Museos
          %li 
            = image_tag "rank_4stars.png"
            El Musical
            %div.section
              en 
              %a{:href => "recursos_espectaculos"}
                Espectáculos
          %li 
            = image_tag "rank_4stars.png"
            Museo del Prado
            %div.section
              en 
              %a{:href => "recursos_museos"}
                Museos
        %div.read-more
          %a{:href => "news"}
            Ver más recursos
 
